.container {
  background: #1D1D25;
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: 14px 16px;
  gap: 22px;
}

.questionContainer {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.category {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.0057em;
  color: var(--primary);
}

.question {
  flex: 1;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.0057em;
  color: #fff;
}

.answer {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.0057em;
  color: #fff;
}

