
:root {
  --primary: #33FB65;
  --background: #121217;

  --headerHeight: 72px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
}

button, input, textarea, select {
  font-family: inherit;
  outline: none;
  border: none;
}
