.wrapper {

  width: 100%;
  padding: 48px 16px 100px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #121217;
}

.container {

  width: 100%;
  max-width: 670px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    color: var(--primary);
    font-size: 32px;
    font-weight: 700;
  }
}
