.container {
  display: flex;
  flex-direction: column;
  gap: 12px
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.0057em;
  white-space: pre-wrap;
  color: #fff;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;

  .clubName {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.0145em;
  }

  .clubCategory {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.0145em;
  }
}



